/* body{
  background-color: rgb(104, 126, 158);
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 189, 189);
} */

.App{
  text-align: center;
}